<section class="container">
    <core-card>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias obcaecati beatae placeat, iste eius ullam
        maxime deserunt laudantium culpa cum! Repudiandae, cumque. Voluptates sint recusandae ea assumenda iste
        perspiciatis minima.
        Dolores saepe fuga delectus pariatur sed distinctio nulla recusandae odit maxime. Labore laboriosam aspernatur
        voluptatem repudiandae quibusdam eaque expedita quas, at eligendi ea tenetur non maxime asperiores assumenda?
        Ab, laudantium.
        Inventore molestiae qui quo corrupti, dolorem ipsum praesentium quod voluptatum aliquam adipisci et. Commodi,
        temporibus quidem. Minus, vero. Incidunt laudantium rem ipsam quia autem optio cumque illum voluptates quas
        aliquid.
    </core-card>
</section>