.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 1rem;
}

core-card{
  margin: 50px;
}

.container {
  margin: 0 150px;
}
core-nav-bar {
  width: 100%;
}
.flex-col {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
