<section class="container">
    <core-card header="Spinners Demo Page">
        <section class="flex-col">
            <core-spinner></core-spinner>
            <core-spinner type="border" color="primary"></core-spinner>
            <core-spinner type="border" color="secondary"></core-spinner>
            <core-spinner type="border" color="danger"></core-spinner>
            <core-spinner type="border" color="warn"></core-spinner>
            <core-spinner type="border" color="info"></core-spinner>
            <core-spinner type="grow" color="primary"></core-spinner>
            <core-spinner type="grow" color="secondary"></core-spinner>
            <core-spinner type="grow" color="danger"></core-spinner>
            <core-spinner type="grow" color="warn"></core-spinner>
            <core-spinner type="grow" color="info"></core-spinner>
        </section>
    </core-card>
</section>