<section class="container">
    <core-card header="Button Demo">
        <section class="flex-col">
            <core-btn color="primary">Primary</core-btn>
            <core-btn color="secondary">Secondary</core-btn>
            <core-btn color="danger">Error</core-btn>
            <core-btn color="warn">Warn</core-btn>
            <core-btn color="info">Info</core-btn>
            <core-btn color="success">Success</core-btn>
            <core-btn color="primary" type="outline">Primary</core-btn>
            <core-btn color="secondary" type="outline">Secondary</core-btn>
            <core-btn color="danger" type="outline">Error</core-btn>
            <core-btn color="warn" type="outline">Warn</core-btn>
            <core-btn color="info" type="outline">Info</core-btn>
            <core-btn color="success" type="outline">Succees</core-btn>
        </section>
    </core-card>
</section>